{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ajouter un prêt</h1>

    {{ include('Pret/form.html.twig') }}

    <div>
        <a href="{{ path('show_client', {'id': monFormulaire.vars.value.client.id}) }}">Retourner à la page client</a>
    </div>
{% endblock %}